root = true

[*.{h,c,cpp,hpp,inc,inl,js,json}]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{html,js,css,svg}]
charset = utf-8
indent_style = space
indent_size = 2

